@model ListaDeProjetos.DBModels.User

<div class="container">
    <h3>Tem certeza que deseja deletar o Usuário <strong class="text-danger">@Model.Name</strong>?</h3>
    <form method="post" asp-controller="User" asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <div class="form-floating mb-3 col-6">
            <input asp-for="Name" class="form-control" placeholder="Nome do Usuário" disabled>
            <label asp-for="Name">Nome do Usuário</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-check form-switch">
            <input asp-for="IsAdmin" class="form-check-input" type="checkbox" role="switch" disabled>
            <label class="form-check-label" asp-for="IsAdmin">Administrador</label>
        </div>
        <div class="d-flex mt-3">
            <a class="btn btn-success me-3" asp-controller="User" asp-action="Index">Voltar</a>
            <button class="btn btn-danger">Excluir</button>
        </div>
    </form>

</div>
